<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'todo/css/change_password.css' %}">
</head>
<body>
    <div class="container">
        <h1>Change Password</h1>
        <p>Username: {{ username }}</p>

        <div id="error-container">
            {% if form.non_field_errors %}
            <div class="non_field_errors">
                {{ form.non_field_errors }}
            </div>
            {% endif %}
            {% for field in form %}
                {% for error in field.errors %}
                <div class="error_message">{{ error }}</div>
                {% endfor %}
            {% endfor %}
        </div>

        <form id="login-form" method="post">
            {% csrf_token %}
            <fieldset>
                {{ form.old_password.label_tag }}
                {{ form.old_password }}
                <br><br>
                {{ form.new_password1.label_tag }}
                {{ form.new_password1 }}
                <br><br>
                {{ form.new_password2.label_tag }}
                {{ form.new_password2 }}
            </fieldset>
            <button type="submit">Change Password</button>
        </form>
        <a href="{% url 'profile' %}">Back to Profile</a>
        <a href="{% url 'dashboard' %}">Back to Dashboard</a>
    </div>

    <script src="{% static 'todo/js/change_password.js' %}"></script>
</body>
</html>
