<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'todo/css/dashboard.css' %}">
</head>
<body>
    <div class="navbar">
        <div class="logo"><a href="/">PanPaperToDo</a></div>
        <div class="profile-dropdown">
            <div class="profile-info">
                {% load static %}
                {% if user.profile.profile_picture %}
                    <img src="{{ user.profile.profile_picture.url }}" alt="Profile Icon">
                {% else %}
                    <img src="{% static 'todo/images/profile-pic.png' %}" alt="Default Profile Icon">
                {% endif %}
                <span>{{ user.username }}</span>
                <i class="fas fa-caret-down"></i>
            </div>
            <div class="dropdown-menu">
                <a href="{% url 'profile' %}"><i class="fas fa-user"></i> My Profile</a>
                <a href="{% url 'change_password' %}"><i class="fas fa-cog"></i> Account Settings</a>
                <a href="#"><i class="fas fa-question-circle"></i> Need Help?</a>
                <a href="{% url 'login' %}"><i class="fas fa-sign-out-alt"></i> Sign Out</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="sidebar">
            <h2>Incomplete Tasks</h2>
            <ul>
                {% for task in not_done_tasks %}
                <li>
                    <div class="task-date">{{ task.due_date }}</div>
                    <div class="task-title">{{ task.title }}</div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="main">
            <div class="header">
                <h2>Date: {{ selected_date }}</h2>
                <div class="date-controls">
                    <button class="date-button" id="prevDayButton">
                        <i class="fas fa-arrow-left"></i> Previous
                    </button>
                    <input type="date" id="datePicker" max="{{ max_date }}" min="{{ min_date }}" value="{{ selected_date }}">
                    <button class="date-button" id="nextDayButton">
                        Next <i class="fas fa-arrow-right"></i>
                    </button>
                </div>
            </div>
            
            <div class="tasks">
                <div class="not-done">
                    <h3>To Do <i id="addTaskIcon" class="fas fa-plus-circle" onclick="toggleTaskInput()"></i></h3>
                    <ul>
                        {% for task in tasks %}
                        {% if not task.completed %}
                        <li>
                            <form method="post" action="{% url 'complete_task' task.id %}">
                                {% csrf_token %}
                                <input type="checkbox" onclick="this.form.submit()">
                                <div>{{ task.title }}</div>
                                <a href="{% url 'edit_task' task.id %}">Edit</a>
                                <a href="{% url 'delete_task' task.id %}">Delete</a>
                            </form>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    <div id="taskInputContainer" style="display: none;">
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="selected_date" value="{{ selected_date }}">
                            <label for="taskTitle">Add task</label>
                            <input type="text" id="taskTitle" name="title" placeholder="Enter task title">
                            <button type="submit">Add Task</button>
                        </form>
                    </div>
                </div>
                <div class="done">
                    <h3>Completed</h3>
                    <ul>
                        {% for task in tasks %}
                        {% if task.completed %}
                        <li>
                            <form method="post" action="{% url 'complete_task' task.id %}">
                                {% csrf_token %}
                                <input type="checkbox" checked onclick="this.form.submit()">{{ task.title }}
                            </form>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="learning">
                <h3>Day Learning:</h3>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="selected_date" value="{{ selected_date }}">
                    <textarea name="learning_content">{{ learning_content }}</textarea>
                    <button type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'todo/js/dashboard.js' %}"></script>
</body>
</html>
