<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'todo/css/login.css' %}">
</head>
<body>
    <header>
        <div class="logo"><a href="/">PanPaperToDo</a></div>
        <div class="right-side">
            <a href="{% url 'signup' %}" class="signup-button">Sign-up</a>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="center">
                <h1>Login</h1>
                <form id="login-form" method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    
                    <!-- Error messages block -->
                    <div id="error-container">
                        {% if form.non_field_errors %}
                        <div class="error_message">
                            {{ form.non_field_errors }}
                        </div>
                        {% endif %}
                        {% for field in form %}
                            {% for error in field.errors %}
                            <div class="error_message">{{ error }}</div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                    
                    <div class="txt_field">
                        <input type="text" name="username" required>
                        <span></span>
                        <label>Username</label>
                    </div>
                    <div class="txt_field">
                        <input type="password" name="password" required>
                        <span></span>
                        <label>Password</label>
                    </div>
                    
                    <input name="submit" type="submit" value="Login">
                    <div class="signup_link">
                        Don't have an account? <a href="{% url 'signup' %}">Sign Up Here</a>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <script src="{% static 'todo/js/login.js' %}"></script>
</body>
</html>