<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'todo/css/profile.css' %}">
</head>
<body>
    <div class="container">
        <h1>User Profile</h1>
        {% if user.profile.profile_picture %}
        <img src="{{ user.profile.profile_picture.url }}" alt="Profile Picture" class="profile-picture">
        <div class="flex-container">
            <button type="button" class="delete-btn" onclick="deleteProfilePicture()">Delete Profile Picture</button>
            <button type="button" class="upload-btn" onclick="document.getElementById('id_profile_picture').click()">Change Profile Picture</button>
        </div>
        {% else %}
        <p>No profile picture available</p>
        <div class="flex-container">
            <button type="button" class="upload-btn" onclick="document.getElementById('id_profile_picture').click()">Upload Profile Picture</button>
        </div>
        {% endif %}
        <form method="post" enctype="multipart/form-data" id="profilePictureForm" style="display: none;">
            {% csrf_token %}
            <fieldset>
                <legend>Upload Profile Picture</legend>
                <input type="file" name="profile_picture" id="id_profile_picture" onchange="uploadProfilePicture()">
            </fieldset>
        </form>
        <form method="post">
            {% csrf_token %}
            <fieldset>
                <legend>Profile Info</legend>
                {{ user_form.as_p }}
            </fieldset>
            <button type="submit">Update Profile</button>
        </form>
        <a href="{% url 'change_password' %}">Change Password</a>
        <a href="{% url 'dashboard' %}">Back to Dashboard</a>
    </div>

    <script src="{% static 'todo/js/profile.js' %}"></script>
</body>
</html>
